$accentColor = #8572e3

.home .hero img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 3rem auto 1.5rem;
}

// 内容的宽度
$contentWidth = 100%
$MQNarrow ?= 1280px

//$textColor = #2c3e50
//$codeBgColor = #000000